@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: #f8fafc; /* slate-50 */
  color: #1e293b; /* slate-800 */
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* account for fixed navbar */
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-accent;
  }
}
